.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-between;
}

span {
  padding-right: 1rem;
  cursor: pointer;
}

// If the browser window is 500px or smaller
@media only screen and (max-width: 500px) {
  .header-desktop-form {
    display: none;
  }
  .header-mobile-form {
    display: block;
  }
}

// If the browser window is 500px or greater
@media only screen and (min-width: 500px) {
  .header-desktop-form {
    display: block;
  }
  .header-mobile-form {
    display: none;
  }
}
