<app-loader [isLoading]="isLoading">
</app-loader>
<h1 mat-dialog-title>Add Cab</h1>
<div mat-dialog-content>
  <form [formGroup]="form" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">
    <div fxLayout="column">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
        <mat-form-field fxFlex>
          <input type="text" matInput autocomplete="off" placeholder="Owner" formControlName="owner">
        </mat-form-field>
        <mat-form-field fxFlex>
          <input type="text" matInput autocomplete="off" placeholder="Model" formControlName="model">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column">
        <mat-form-field fxFlex>
          <input type="text" matInput autocomplete="off" placeholder="Number" formControlName="number">
        </mat-form-field>
      </div>
    </div>
  </form>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-raised-button color="primary" (click)="submit()" [disabled]="!form.valid"><span>Save</span></button>
  <button mat-raised-button color="warn" (click)="close(undefined)">Cancel</button>
</div>
